# Set your Materials Project API Key here
MP_API_KEY=your_api_key_here

# Apache Superset
SUPERSET_SECRET_KEY=your_superset_secret_key_here
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=your_admin_password_here
SUPERSET_ADMIN_EMAIL=admin@superset.local
