# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env

# Data (Ignore all downloaded CSVs and local databases)
data/
*.csv
*.db
*.sqlite
*.sqlite3

# IDEs and OS Files
.vscode/
.idea/
.DS_Store

# Caching and Typing
.mypy_cache/
.ruff_cache/
.pytest_cache/
